<div class="glass-card animate__animated animate__fadeIn" style="width: 100%; max-width: 700px;">
    <h2 style="margin-top: 0; text-align: center;">Historique Complet</h2>  <br>
    
    <div style="display: flex; gap: 10px; margin-bottom: 25px; justify-content: center; flex-wrap: wrap; align-items: center;">
        <select id="filter-type" class="glass-input">
            <option value="all" style="color: black;">Tout afficher</option>
            <option value="gain" style="color: black;">Uniquement Gains (+)</option>
            <option value="depense" style="color: black;">Uniquement Dépenses (-)</option>
        </select> 
        
    <div style="display: flex; gap: 10px; justify-content: center; flex-wrap: wrap; align-items: center;">
            <span style="color: var(--text-dim); font-weight: bold;">Du</span>
            <input type="date" id="filter-start-date" class="glass-input">
            
            <span style="color: var(--text-dim); font-weight: bold;">au</span>
            <input type="date" id="filter-end-date" class="glass-input">
        </div>
    </div>

    <ul id="all-transactions-list" class="history-list">
        <li style="text-align: center; color: var(--text-dim);">Chargement...</li>
    </ul>
</div>